{% extends "shop/base.html" %}

{% block title %}
Оформление заказа
{% endblock%}

{% block content %}
<h2>Оформление заказа</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Оформить заказ</button>
</form>

<h2>{{ cart }}</h2>
{% if cart.cart_item.exists %}
    <ul>
        {% for item in cart.cart_item.all %}
            <li>
                <a href="{% url 'product_detail' item.product.slug %}">{{item.product.name}} </a>({{ item.quantity }} - {{ item.get_total_item_price }})
                <form action="{% url 'cart_add' item.product.slug %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">+</button>
                </form>
                <form action="{% url 'cart_remove' item.product.slug %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">-</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <p>
        Итоговая цена {{ cart.get_discounted_price }}
    </p>
{% endif %}
{% endblock%}