{% extends "manager/base.html" %}

{% block title %}
Товары
{% endblock %}

{% block content %}
Товары <br>
<table>
<a href="{% url 'add_product' %}">Добавить новый товар</a>
<tr>
    <th>
        Id
    </th>
    <th>
        Название товара
    </th>
    <th>
        Цена
    </th>
    <th>
        Цена со скидкой
    </th>
    <th>
        Категория
    </th>
    <th>
        Фото
    </th>
    <th>
        Дата создания
    </th>
    <th>
        Количество
    </th>
</tr>
{% for product in products %}
<tr>
    <td><a href="{% url 'update_product' product.slug %}">{{ product.pk }}</a></td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.discount_price }}</td>
    <td>{{ product.category }}</td>
    <td>
        <a href="{{ product.image.url }}">Ссылка на фото</a>
    </td>
    <td>{{ product.created_at }}</td>
    <td>{{ product.quantity }}</td>

</tr>
{% endfor %}
</table>
{% endblock %}
